<header class="navbar navbar-default navbar-fixed-top">
    <nav>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    Wireframe API App
                </a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a title="area" href="#!/page">Page</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
